.mainContent {
  width: calc(100% - 240px);
  margin-left: 240px;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.mainContent.navCollapsed {
  width: calc(100% - 85px);
  margin-left: 85px;
}

@media (max-width: 768px) {
  .mainContent {
    width: 100%;
    margin-left: 0;
  }

  .mainContent.navCollapsed {
    width: 100%;
    margin-left: 0;
  }
}
